.container {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  justify-content: flex-end;
  padding: 20px;
}

.button {
  background-color: transparent;
  border: none;
  user-select: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url('../../images/all-tasks-icon.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  color: #767676;
  align-self: flex-end;
  outline: none;
}

.closeMenuButton {
  background-image: url('../../images/delete-icon.svg');
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: invert(0.5);
}

.button:hover {
  transition: opacity 0.3s linear;
  opacity: 0.6;
}

.categoryContainer {
  display: none;
  background-color: #f1f1f1;
  padding: 0 20px;
  align-self: flex-start;
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 0;
}

.categoryContainerActive {
  display: block;
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 30px 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .container {
    display: none;
  }
}
