.task {
  width: 700px;
  padding-bottom: 40px;
}

.titleContainer {
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 20px;
}

.folderName {
  display: flex;
  align-items: center;
}

.form {
  display: flex;
  align-items: center;
}

.folderTitle {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  margin: 0 15px 0 0;
  user-select: none;
}

.green {
  color: #42b883;
}

.blue {
  color: #64c4ed;
}

.pink {
  color: #ffbbcc;
}

.lightgreen {
  color: #b6e6bd;
}

.gray {
  color: #c9d1d3;
}

.purple {
  color: #c355f5;
}

.red {
  color: #ff6464;
}

.black {
  color: #09011a;
}

.editButton {
  background-image: url('../../images/edit-icon.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  width: 15px;
  height: 15px;
  border: none;
  cursor: pointer;
}

.editButton:hover {
  transition: opacity 0.3s linear;
  opacity: 0.7;
}

.list {
  list-style: none;
  padding: 20px 0;
}

.createTaskButton {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.15px;
  margin-left: 35px;
  color: #b4b4b4;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.createTaskButton::before {
  content: url('../../images/add-new-task-icon.svg');
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.createTaskButton:hover {
  transition: opacity 0.2s linear;
  opacity: 0.8;
}

.createTaskButtonHidden {
  display: none;
}
