.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.input {
    padding: 10px 15px;
    border: 1px solid #efefef;
    border-radius: 4px;
    outline: none;
    margin-right: 20px;
    box-sizing: border-box;
    width: calc(100% - 250px);
}

.input:focus {
    box-shadow: 0 0 8px rgba(77, 213, 153, 0.4);
  }

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.saveButton {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.15px;
    padding: 10px 25px;
    background-color: #4dd599;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cancelButton {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.15px;
    padding: 10px 25px;
    background-color: #f4f6f8;
    color: #9c9c9c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}