.sidebar {
  display: none;
  font-weight: 600;
  width: 200px;
  min-height: 100%;
  background-color: #f4f6f8;
  padding: 50px 20px;
  border-right: 1px solid #f1f1f1;
  box-sizing: border-box;
  position: relative;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2px;
  margin: 0;
  padding: 0 10px;
  user-select: none;
}

.title::before {
  content: url('../../images/all-tasks-icon.svg');
  margin-right: 9px;
}

.list {
  list-style: none;
  padding: 30px 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .sidebar {
    display: block;
  }
}
